<div class="container">

    <form>
      <fieldset>
        <legend>User Login</legend>

        <h4>User</h4>
        <input name="#" id="userlog" placeholder="username" type="text"><br>

        <h4>Password</h4>
        <input name="#" id="psswrd" placeholder="password" type="password"><br>
        <button id="login" type="submit" class="btn">Login</button>


      </fieldset>
    </form>


</div>

